<%= form_for(@driving_log) do |f| %>
  <% if @driving_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@driving_log.errors.count, "error") %> prohibited this driving_log from being saved:</h2>

      <ul>
      <% @driving_log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :drive_date %><br />
    <%= f.text_field :drive_date %>
  </div>
  <div class="field">
    <%= f.label :verifiers_initials %><br />
    <%= f.text_field :verifiers_initials %>
  </div>
  <div class="field">
    <%= f.label :driving_time %><br />
    <%= f.text_field :driving_time %>
  </div>
  <div class="field">
    <%= f.label :night_driving %><br />
    <%= f.check_box :night_driving %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_field :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
