<h1>Listing driving_logs Alex</h1>

<table>
  <tr>
    <th>Drive date</th>
    <th>Verifiers initials</th>
    <th>Driving time</th>
    <th>Night driving</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @driving_logs.each do |driving_log| %>
  <tr>
    <td><%= driving_log.drive_date %></td>
    <td><%= driving_log.verifiers_initials %></td>
    <td><%= driving_log.driving_time %></td>
    <td><%= driving_log.night_driving %></td>
    <td><%= driving_log.comments %></td>
    <td><%= link_to 'Show', driving_log %></td>
    <td><%= link_to 'Edit', edit_driving_log_path(driving_log) %></td>
    <td><%= link_to 'Destroy', driving_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Driving log', new_driving_log_path %>
